<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="new_labirentFrame">
		<title>Labirent 2013</title>
		<size>550,580</size>
		<minsize>550,580</minsize>
		<maxsize>550,580</maxsize>
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>0,0</pos>
			<size>550,580</size>
			<object class="wxStaticBitmap" name="ID_STATICBITMAP1" variable="StaticBitmap1" member="yes">
				<bitmap>images\giris.png</bitmap>
				<pos>0,0</pos>
			</object>
			<object class="wxBitmapButton" name="ID_BITMAPBUTTON1" variable="BitmapButton1" member="yes">
				<bitmap>images\yenioyun.png</bitmap>
				<selected>images\yenioyun2.png</selected>
				<default>1</default>
				<pos>328,280</pos>
				<size>176,24</size>
				<handler function="OnBitmapButton1Click" entry="EVT_BUTTON" />
			</object>
			<object class="wxBitmapButton" name="ID_BITMAPBUTTON2" variable="BitmapButton2" member="yes">
				<bitmap>images\oyunhakkinda.png</bitmap>
				<selected>images\oyunhakkinda2.png</selected>
				<default>1</default>
				<pos>328,304</pos>
				<size>176,24</size>
			</object>
			<object class="wxBitmapButton" name="ID_BITMAPBUTTON3" variable="BitmapButton3" member="yes">
				<bitmap>images\oyunuyazanlar.png</bitmap>
				<selected>images\oyunuyazanlar2.png</selected>
				<default>1</default>
				<pos>328,328</pos>
				<size>176,27</size>
			</object>
			<object class="wxBitmapButton" name="ID_BITMAPBUTTON4" variable="BitmapButton4" member="yes">
				<bitmap>images\cikis.png</bitmap>
				<selected>images\cikis2.png</selected>
				<default>1</default>
				<pos>328,352</pos>
				<size>176,27</size>
				<handler function="OnBitmapButton4Click" entry="EVT_BUTTON" />
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
	</object>
</wxsmith>
